[submodule "binder/binder"]
	path = binder/binder
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder
	shallow = true
[submodule "binder/binder-cupy-5050-spatial1d-genomes.ipynb"]
	path = binder/binder-cupy-5050-spatial1d-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-spatial1d-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-5050-spatial1d-traits.ipynb"]
	path = binder/binder-cupy-5050-spatial1d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-spatial1d-traits.ipynb
	shallow = true
[submodule "binder/binder-cupy-5050-spatial2d-genomes.ipynb"]
	path = binder/binder-cupy-5050-spatial2d-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-spatial2d-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-5050-spatial2d-traits.ipynb"]
	path = binder/binder-cupy-5050-spatial2d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-spatial2d-traits.ipynb
	shallow = true
[submodule "binder/binder-cupy-5050-wellmixed-genomes.ipynb"]
	path = binder/binder-cupy-5050-wellmixed-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-wellmixed-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-5050-wellmixed-traits.ipynb"]
	path = binder/binder-cupy-5050-wellmixed-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-5050-wellmixed-traits.ipynb
	shallow = true
[submodule "binder/binder-cupy-denovo-spatial1d-genomes.ipynb"]
	path = binder/binder-cupy-denovo-spatial1d-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-denovo-spatial1d-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-denovo-spatial1d-traits.ipynb"]
	branch = binder-cupy-denovo-spatial1d-traits.ipynb
	shallow = true
	path = binder/binder-cupy-denovo-spatial1d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
[submodule "binder/binder-cupy-denovo-spatial2d-genomes.ipynb"]
	path = binder/binder-cupy-denovo-spatial2d-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-denovo-spatial2d-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-denovo-spatial2d-traits.ipynb"]
	path = binder/binder-cupy-denovo-spatial2d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-denovo-spatial2d-traits.ipynb
	shallow = true
[submodule "binder/binder-cupy-denovo-wellmixed-genomes.ipynb"]
	path = binder/binder-cupy-denovo-wellmixed-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-denovo-wellmixed-genomes.ipynb
	shallow = true
[submodule "binder/binder-cupy-denovo-wellmixed-traits.ipynb"]
	path = binder/binder-cupy-denovo-wellmixed-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-cupy-denovo-wellmixed-traits.ipynb
	shallow = true
[submodule "binder/binder-index.ipynb"]
	path = binder/binder-index.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-index.ipynb
	shallow = true
[submodule "binder/binder-perf-wse-tilepop.ipynb"]
	path = binder/binder-perf-wse-tilepop.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-perf-wse-tilepop.ipynb
	shallow = true
[submodule "binder/binder-perf-wse-vs-gpu-100k.ipynb"]
	path = binder/binder-perf-wse-vs-gpu-100k.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-perf-wse-vs-gpu-100k.ipynb
	shallow = true
[submodule "binder/binder-perf-wse-vs-gpu.ipynb"]
	path = binder/binder-perf-wse-vs-gpu.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-perf-wse-vs-gpu.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-2048atile-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-2048atile-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-2048atile-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-32atile-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-32atile-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-32atile-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-explicitsite-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-explicitsite-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-explicitsite-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-explicitsite-traits.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-explicitsite-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-explicitsite-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-traits.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-2048atile-infben-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-2048atile-infben-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-2048atile-infben-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-32atile-infben-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-32atile-infben-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-32atile-infben-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-5050-spatial2d-traits.ipynb"]
	path = binder/binder-wse-5050-spatial2d-traits.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-5050-spatial2d-traits.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-explicitsite-genomes.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-explicitsite-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-explicitsite-genomes.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-explicitsite-timeseries.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-explicitsite-timeseries.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-explicitsite-timeseries.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-poisson-genomes.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-poisson-genomes.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-poisson-genomes.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-poisson-timeseries.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-poisson-timeseries.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-poisson-timeseries.ipynb
	shallow = true
[submodule "binder/binder-wse-denovo-spatial2d-explicitsite-timeseries-2025-02-07-peaksweep.ipynb"]
	path = binder/binder-wse-denovo-spatial2d-explicitsite-timeseries-2025-02-07-peaksweep.ipynb
	url = https://github.com/mmore500/hypermutator-dynamics.git
	branch = binder-wse-denovo-spatial2d-explicitsite-timeseries-2025-02-07-peaksweep.ipynb
	shallow = true
